# =====================
# C++ ignore list
# =====================

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Build directory
.build
build

# =====================
# emacs ignore list
# =====================
*~
*.desktop
*.desktop.lock
*.lib

# Executables
*.exe
*.out
*.app
